.table-editable {
  position: relative;
outline: 0px;
}

.table-editable .glyphicon {
  font-size: 15px;
}

.test-delete, .test-figs {
  color: #000;
  cursor: pointer;
}

.test-delete:hover {
  color: #f00;
}

.test-figs:hover {
  color: #00f;
}

.btn-primary
{
    outline: 0px solid transparent;
    color:white;
    background:black;
    border: 0px solid transparent;
        
}


td
{
    outline: 0px solid transparent
}


input
{
    outline: 0px solid transparent;
    border: 0px;
    border-bottom: 1px solid silver;
    width: 50px;
    text-align:center;

}


[contenteditable="false"]
{
    background:#EEE;
}
